# If you want to develope this bot.
# First you need create a bot and get the token of bot.
# Then write token here.
# HELP: https://www.writebots.com/discord-bot-token/

BOT_TOKEN=[Write Bot token here]

# Now, Database Thing! 
# You need a mongodb database for develope this project.
# Go and create new database and get connect url and password then write down.
# Template:

DATABASE_URL=[Mongo DB URI]

# Then you can change file name from .env.example to .env
# Thats it!
